* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:after {
  box-sizing: border-box;
}
*:before {
  box-sizing: border-box;
}

html, body, .container {
  height: 100%;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}

h1 {
  font-family: "Montserrat", sans-serif;
}

h2, h3, h4, h5, h6 {
  font-family: "Lato", sans-serif;
}

#gallery {
  width: 80%;
  margin: 0 auto;
  flex: 1;
}
#gallery::after {
  clear: both;
  content: "";
  display: block;
}
#gallery .gallery-item {
  overflow: hidden;
  position: relative;
  margin-top: 30px;
  border: 1px solid lightgrey;
  width: calc(100% - 40px);
  float: left;
  margin-left: 20px;
}
@media screen and (min-width: 768px) {
  #gallery .gallery-item {
    width: calc(50% - 30px);
    float: left;
    margin-left: 20px;
  }
}
@media screen and (min-width: 992px) {
  #gallery .gallery-item {
    width: calc(33.33333% - 26.66667px);
    float: left;
    margin-left: 20px;
  }
}
#gallery .gallery-item img {
  width: 100%;
}
#gallery .gallery-item img:hover + .content {
  bottom: 0px;
}
#gallery .gallery-item .content {
  position: absolute;
  padding: 10px;
  bottom: -120px;
  left: 0;
  width: 100%;
  transition: bottom .7s ease;
  background-color: rgba(169, 169, 169, 0.7);
}

footer {
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin-top: 30px;
}
footer span {
  margin-top: 30px;
  margin-bottom: 30px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modal h1 {
  margin-bottom: 10px;
}
.modal form .form-group {
  margin-bottom: 10px;
}
.modal form .form-group input {
  width: 100%;
  padding: 10px;
  font-size: 18px;
}
.modal form .form-group label {
  display: inline-block;
  cursor: default;
  margin-bottom: 10px;
  font-size: 16px;
}
.modal form .button-wrapper {
  text-align: center !important;
}
.modal form .button-wrapper button {
  margin-top: 10px;
  padding: 15px 40px;
  background: black;
  border: none;
  font-size: 18px;
  color: white;
  box-shadow: 0 0 2px #333;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  cursor: pointer;
}
.modal form .button-wrapper button:hover {
  background: white;
  color: black;
}
.modal label {
  cursor: pointer;
  margin-bottom: 0;
}
.modal label img {
  border-radius: 150px;
  display: block;
  max-width: 300px;
}
.modal .modal-state {
  display: none;
}
.modal .modal-trigger {
  padding: 0.8em 1em;
}
.modal .modal-fade-screen {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.85);
  opacity: 0;
  padding-top: 0.6em;
  text-align: left;
  transition: opacity 0.25s ease;
  visibility: hidden;
  z-index: 99999999999;
}
@media screen and (min-width: 992px) {
  .modal .modal-fade-screen {
    padding-top: 10em;
  }
}
.modal .modal-fade-screen .modal-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
}
.modal .modal-close {
  position: absolute;
  top: 1.5em;
  right: 1.5em;
  height: 1.5em;
  width: 1.5em;
  background: #F9EAEA;
  cursor: pointer;
}
.modal .modal-close::after, .modal .modal-close::before {
  position: absolute;
  top: 3px;
  right: 3px;
  bottom: 0;
  left: 50%;
  height: 1.5em;
  width: 0.15em;
  background: #ddd;
  content: "";
  display: block;
  margin: -3px 0 0 -1px;
  transform: rotate(45deg);
}
.modal .modal-close:hover::after, .modal .modal-close:hover::before {
  background: #c4c4c4;
}
.modal .modal-close::before {
  transform: rotate(-45deg);
}
.modal .modal-inner {
  background: #F9EAEA;
  border-radius: 3px;
  margin: auto;
  margin-top: 0;
  max-height: 95%;
  overflow: auto;
  padding: 1.5em;
  position: relative;
  transition: opacity 0.25s ease;
  width: 95%;
}
@media screen and (min-width: 768px) {
  .modal .modal-inner {
    max-height: 70%;
    padding: 3em;
    width: 60%;
  }
}
@media screen and (min-width: 992px) {
  .modal .modal-inner {
    width: 50%;
  }
}
.modal .modal-inner h1 {
  color: #333;
  text-align: left;
  text-transform: capitalize;
}
.modal .modal-inner p {
  color: #333;
  line-height: 1.5em;
}
.modal .modal-inner .modal-intro {
  margin-bottom: 1em;
}
.modal .modal-inner .modal-content {
  color: #333;
}
@media screen and (min-width: 768px) {
  .modal .modal-inner .modal-content {
    columns: 2 8em;
  }
}
.modal .modal-inner a.cta {
  color: #fff;
  display: inline-block;
  margin-right: 0.5em;
  margin-top: 1em;
}
.modal .modal-inner a.cta:last-child {
  padding: 0 2em;
}
.modal .modal-state:checked + .modal-fade-screen {
  opacity: 1;
  visibility: visible;
}
.modal .modal-state:checked + .modal-fade-screen .modal-inner {
  top: 0.5em;
}

.modal-open {
  overflow: hidden;
}

.burger {
  width: 50px;
  height: 35px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .burger {
    display: none;
  }
}
.burger span {
  display: block;
  background-color: #000;
  height: 5px;
  width: 50px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 1;
  transition: all .75s;
  transition-delay: .5s;
}
.burger span:nth-child(1) {
  top: 0;
  transform-origin: 0 2.5px;
}
.burger span:nth-child(2) {
  top: 15px;
}
.burger span:nth-child(3) {
  transform-origin: 0 2.5px;
  top: 30px;
}
.burger .toggle-top {
  animation: spin-right 1s forwards;
}
.burger .toggle-top-reverse {
  animation: spin-right-reverse 1s forwards;
}
.burger .middle {
  opacity: 0;
}
.burger .toggle-bottom {
  transform-origin: left center;
  animation: spin-left 1s forwards;
}
.burger .toggle-bottom-reverse {
  transform-origin: left center;
  animation: spin-left-reverse 1s forwards;
}
@keyframes spin-right {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(-35deg);
  }
  100% {
    transform: rotate(405deg);
    top: -2.5px;
    left: 7.5px;
  }
}
@keyframes spin-left {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(35deg);
  }
  100% {
    transform: rotate(-405deg);
    top: 32.5px;
    left: 7.5px;
  }
}
@keyframes spin-right-reverse {
  0% {
    transform: rotate(405deg);
    top: -2.5px;
    left: 7.5px;
  }
  20% {
    transform: rotate(440deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes spin-left-reverse {
  0% {
    transform: rotate(-405deg);
    top: 32.5px;
    left: 7.5px;
  }
  20% {
    transform: rotate(-440deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
header {
  width: 100%;
  min-height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px dotted #eec2c2;
}
header .logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo img {
  margin-right: 10px;
  height: 50px;
  width: 50px;
}
header a {
  display: none;
  text-decoration: none;
  font-size: 20px;
  color: black;
  line-height: 20px;
  padding: 30px;
  font-weight: 700;
}
header a:hover {
  background: black;
  color: #eec2c2;
}
@media screen and (min-width: 768px) {
  header a {
    display: inline-block;
  }
}
header i {
  font-size: 30px !important;
  cursor: pointer;
  display: none !important;
}
header i:hover {
  color: #fa7f7a;
}
@media screen and (min-width: 768px) {
  header i {
    display: inline-block !important;
  }
}

nav {
  height: 90px;
}
@media screen and (min-width: 768px) {
  nav {
    height: 50px;
  }
}
nav ul {
  height: 100%;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  nav ul {
    flex-direction: row;
  }
}

/*# sourceMappingURL=styles.css.map */
