//main colors
$green: #7AE582;
$dark-green: darken($green, 20%);
$off-white: #F9EAEA;

//fonts
$sub-heading-font: 'Lato', sans-serif;
$default-font: 'Source Sans Pro', sans-serif;
$header-font: 'Montserrat', sans-serif;


//breakpoints
$tablet-bp: 'screen and (min-width: 768px)';
$desktop-bp: 'screen and (min-width: 992px)';
