header {
  width: 100%;
  min-height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px dotted darken($off-white, 10%);


  .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      position: relative;
      cursor: pointer;
      &:hover {
        background: -webkit-linear-gradient(-45deg, #32fcfc 0%,#32fcfc 15%,#6bce29 16%,#6bce29 28%,#f2da00 29%,#f2da00 49%,#ed4cff 51%,#ed4cff 66%,#ed4cff 66%,#edb23d 67%,#edb23d 81%,#01C4BD 82%,#01C4BD 100%);
        -webkit-text-stroke:  3.5px rgba(255,255,255,.01);
        -webkit-background-clip: text;
      }
    }

    img {
      margin-right: 10px;
      @include size(50px);
      cursor: pointer;

      &:hover {
        animation: vinyl-rotate 1s infinite linear;
      }
    }
  }

  a {
    display: none;
    text-decoration: none;
    font-size: 20px;
    color: black;
    line-height: 20px;
    padding: 30px;
    font-weight: 700;
    cursor: pointer;
    &:hover {
      background: black;
      color:darken($off-white, 10%);
    }

    label {
      cursor: pointer;
    }

    @include tablet-bp {
      display: inline-block;
    }
  }

  i {
    font-size: 30px !important;
    cursor: pointer;
    display: none !important;

    &:hover {
      color: #fa7f7a;
    }

    @include tablet-bp {
      display: inline-block !important;
    }
  }
}

@keyframes vinyl-rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
