header {
  width: 100%;
  min-height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px dotted darken($off-white, 10%);


  .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      margin-right: 10px;
      @include size(50px);
    }
  }

  a {
    display: none;
    text-decoration: none;
    font-size: 20px;
    color: black;
    line-height: 20px;
    padding: 30px;
    font-weight: 700;
    &:hover {
      background: black;
      color:darken($off-white, 10%);
    }

    label {
      cursor: pointer;
    }

    @include tablet-bp {
      display: inline-block;
    }
  }

  i {
    font-size: 30px !important;
    cursor: pointer;
    display: none !important;

    &:hover {
      color: #fa7f7a;
    }

    @include tablet-bp {
      display: inline-block !important;
    }
  }
}
